<div class="imageContainer">
    <div class="imgDiv">
        <img class="profileImage" src="https://homepages.cae.wisc.edu/~ece533/images/lena.png" />
    </div>
    <div class="butDiv">
        <a href="">
            <div class="buttons" id="buttons" type="submit">Home</div>
        </a>
        <a href="/newImage">
            <div class="buttons" id="buttons" type="submit">New Photo</div>
        </a>
    </div>
</div>

<div class="newPhoto">
    <form id="newPhoto" class="newPhotoForm">
    	<div class="titleNew">
    		Add New Photo
    		<a href=""></a>
    	</div>
        <input class="inputs" id="image" placeholder="Paste Image url Here" />
        <input class="inputs" id="title" placeholder="Photo Title" />
        <textarea class="textarea" id="description" rows="8" cols="80" placeholder="Photo Description"></textarea> 
        <button class="newBut" type="submit">Submit</button>
    </form>
</div>
